.header_section{
    background: url(images/header_bg.jpg) no-repeat;
    height: 878px;
    background-size: 100% 100%;
}
.first_row{margin-top:60px;}
.mymenu li a{color:#fff;}
.mymenu li a:hover,.mymenu li a.ct{border-bottom: 2px solid #1abc9c;
    text-decoration: none;}
.second_row{margin-top: 160px;}
.second_row h2, .second_row p{ color: white;
    
}
.ok{
    background-color: white;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    margin-left: -10px;
    position: relative;
    text-decoration: none;
   
}
.purchase, purchase:hover{
    background: #1abc9c;
}
.learn, learn.hover{
    background: #3498db;
    margin-left: -11px;
    
}
.aboutText{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: justify;
}
.aboutImage{
    margin-top: 100px;
    margin-bottom: 100px;
}
.third_background{
    background-color: moccasin;
   
}
.service1_text{
    text-align: center;
    color: #2c3e50;
}
.feature_text h2, .feature_text{
    color: white;
    text-align: center;
    margin-top: 50px;
    
}
.fourth_row{
    background: url(images/fourth_background.png) no-repeat;
    width: 100%;
}
.mackbook{
    margin-top: 50px;
}
.mack{
    margin: 0 auto;
}
.arrow{
    margin-top: 30px;
}
.people_say{
    background-color: whitesmoke;
    margin-top: -69px;
   
}
.top_margin{
    margin-top: 200px;
    margin-bottom: 50px;
  
}
.top50{
    margin-top: 50px;
}
.bottom100{
    margin-bottom: 100px;
}
.message{
    background-color: #34495e;
}
.text{
    color: white;
    margin-top: 100px;
}
.pad5{
    padding-right: 20px;
}
.contactform{
    margin-top: 100px;
    text-align: left;
}